* {
    padding: 0;
    margin: 0;
}

/* THEME */
$primary: hsl(185, 100%, 60%);
$secondary: hsl(160, 100%, 60%);

$body-bg: #000e0f;
$dark: $body-bg;

$body-color: #efefef;
$font-size-base: 1.3rem;

$tag-color: rgba(255, 255, 255, 0.8);
$tag-hover-color: rgba(255, 255, 255, 1);

/* IMPORTING FONT */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

/* IMPORTING BOOTSTRAP */
@import "../vendor/twbs/bootstrap/scss/bootstrap.scss";

body {
    font-family: "Titillium Web";
    line-height: 2rem;
}

/* CONTAINER WIDTH LIMIT */
.container {
    max-width: 850px;
}

/* GRADIENT BACKGROUND */
.background-gradient {
    background: linear-gradient(-13deg, darken($primary, 28%), darken($primary, 50%), $body-bg, $body-bg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

/* START */
@media (max-height: 600px) {
    .section-start {
        padding-top: 4.5rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .section-start-inner {
        width: 100%;
        display: block;
        min-height: calc(100vh - 4.5rem);
    }
}
@media (min-height: 601px) {
    .section-start {
        padding-top: 0;
        position: relative;
        width: 100%;
    }
    .section-start-inner {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.page {
    margin-top: 4.5rem;
    min-height: calc(100vh - 11rem);
}

.component-post:not(:last-of-type) {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

/* COMPONENT FOOTER */
.component-footer {
    a {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.75);
    }
    a:hover {
        text-decoration: underline;
        color: $body-color;
    }
}

/* STYLING DROPDOWN */
.navbar-nav ul.dropdown-menu.show {
    box-sizing: border-box;
    border: 1px solid lighten($body-bg, 10%);
    background-color: $body-bg;
}
.navbar {
    .dropdown-toggle::after {
        margin-left: 0.5em;
    }
    .menu-item:not(:last-child) {
        margin-right: 2rem;
    }
    .dropdown-menu .menu-item {
        margin-right: 0 !important;
    }
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
}
.dropdown-item:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
}

/* HEADERS SECONDARY COLORS */
h1,
h2,
h3,
h4 {
    color: $secondary;
}
/* TITLE */
.component-title {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.component-title-outer {
    border-radius: 1rem;
}

/* FLOAT LEFT HEADERS */
@media (max-width: 768px) {
    h2.left,
    h3.left,
    h4.left,
    h5.left,
    h2.right,
    h3.right,
    h4.right,
    h5.right {
        display: block;
        text-align: center;
        margin-right: 0;
        line-height: 4rem;
    }
}
@media (min-width: 769px) {
    h2.left,
    h3.left,
    h4.left,
    h5.left {
        float: left;
        margin: 0 20px 0 0;
        line-height: 4rem;
    }
    h2.right,
    h3.right,
    h4.right,
    h5.right {
        float: right;
        margin: 0 0 0 20px;
        line-height: 4rem;
    }
}

/* HEADERS CENTERED IN MOBILE */
@media (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }
}

.my-border {
    height: 2px;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #00d9ff 20%, #00ffea);
}

/* OPACITY */
.opacity-08 {
    opacity: 0.8;
}
.opacity-05 {
    opacity: 0.5;
}
.opacity-0 {
    opacity: 0;
}

/* TAGS */
a[href*="tag"] {
    color: $tag-color;
    box-sizing: border-box;
    border: 1px solid $tag-color;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.33em;
    font-size: 1.05rem;
}
a[href*="tag"]:hover {
    color: $tag-hover-color;
    border: 1px solid $tag-hover-color;
}
a[href*="tag"]:not(:last-of-type) {
    margin-right: 0.1em;
}

/* CUSTOM SCROLL BAR */
body::-webkit-scrollbar {
    width: 0.9rem;
}

/* Track */
body::-webkit-scrollbar-track {
    background: lighten($body-bg, 5%);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background: darken($body-color, 25%);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: darken($body-color, 10%);
}

/* ANIMATIONS */
.animation-opacity {
    animation-name: animation-opacity;
    animation-duration: 1.5s;
}
@keyframes animation-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animation-scale {
    animation-name: animation-scale;
    animation-duration: 1s;
}
@keyframes animation-scale {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

/* SCROLL SCRIPT */
.scroll-script {
    opacity: 0;
    transition-property: opacity;
}
.scroll-script.visible {
    opacity: 1;
}
